/*! reset.css */
body {
  color: #333;
  font-size: 12px;
  font-family: Arial,Helvetica,sans-serif;
  line-height: 1.5
}

body,p,h1,h2,h3,h4,h5,h6,a,a img,div,blockquote,cite,address {
  margin: 0;
  padding: 0
}

table,thead,caption,tbody,tr,td {
  border: none;
  border-collapse: separate;
  border-spacing: 0;
  text-align: left;
  vertical-align: top
}

img {
  border: 0;
  vertical-align: bottom
}

h1,h2,h3,h4,h5,h6 {
  font-size: 1.1em;
  font-weight: normal;
  line-height: 1.25;
  margin-bottom: 0.75em
}

h1 {
  font-size: 1.5em
}

h2 {
  font-size: 1.33em
}

h3 {
  font-size: 1.33em
}

a {
  outline: 0;
  text-decoration: underline
}

a:hover {
  text-decoration: none
}

a,a span,button {
  cursor: pointer
}

p,ul,ol {
  margin-bottom: 0.8em
}

ul,ol {
  margin-left: 0;
  padding-left: 30px
}

li {
  margin-bottom: 0.5em
}

blockquote {
  background: #f2f2f2;
  border-bottom: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
  margin: 10px;
  overflow: hidden;
  padding: 13px 15px 1px
}

.group:after,.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  font-size: 1px;
  line-height: 1px;
  overflow: hidden;
  visibility: hidden
}

.group,.clearfix {
  display: block;
  zoom:1}

.clear {
  clear: both
}

/*! form.css */
form,fieldset,input {
  margin: 0;
  padding: 0
}

form {
  background: url(design/form-bg.png) repeat-x;
  margin-bottom: 20px;
  padding: 10px;
  width: 90%
}

form p {
  clear: both;
  margin: 0 0 8px;
  padding: 2px
}

fieldset {
  border: 0;
  margin: 1em 0;
  padding: 1em
}

legend {
  _margin-left: -7px;
  color: #000C7A;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 10px
}

label {
  float: left;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 0.9em;
  margin-right: 5px;
  width: 30%
}

input {
  border: 1px solid #999;
  padding: 5px;
  width: 60%
}

textarea {
  border: 1px solid #999;
  height: 100px;
  padding: 5px;
  width: 60%
}

form h2 {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 0.9em
}

input.radio,input.checkbox {
  float: left;
  margin-right: 5px;
  width: auto
}

.radiolabel,.checkboxlabel {
  margin-right: 25px;
  width: auto
}

p.note {
  font-size: 0.9em;
  font-style: italic;
  margin-bottom: 20px
}

em.required {
  color: red;
  font-size: 0.9em;
  font-style: normal
}

label.error,input.submit {
  color: red;
  margin: 5px 0 0
}

input.submit {
  width: auto
}

form div {
  overflow: hidden
}

form div button {
  background: #000C7A;
  color: #fff;
  float: right;
  font-size: 90%;
  margin-right: 12px;
  margin-top: 15px;
  padding: 3px 5px;
  text-transform: uppercase;
  width: 30%
}

input#city {
  background: #fff;
  margin-right: 15px;
  width: 40%
}

input#state {
  width: 10%
}

input#zip,input#datepicker {
  width: 20%
}

form#mini {
  width: 268px
}

form#mini div input,form#mini div button {
  margin-right: 10px;
  margin-top: 0;
  width: 30%
}

form#mini p {
  padding: 0
}

div#captcha-error,div[id^="captcha-error_"] {
  color: #fff;
  display: block;
  width: 60%;
  background-color: red;
  padding: 4px;
  margin-top: 5px
}

/*! menu.css */
#nav * {
  margin: 0;
  padding: 0;
  list-style-type: none;
  z-index: 100
}

#nav {
  height: 40px;
  line-height: 40px;
  margin-bottom: 10px
}

* html #nav ul {
  display: inline
}

#nav li {
  float: left;
  position: relative
}

#nav a {
  display: block
}

#nav ul li ul li ul {
  top: -1px
}

#nav li ul {
  display: none;
  position: absolute;
  left: -1px;
  width: 7em;
  line-height: 1
}

#nav li:hover ul,#nav li.hover ul {
  display: block
}

#nav li ul li {
  width: 100%
}

#nav ul li ul {
  border: 0;
  margin-left: 0px;
  position: absolute;
  width: 12em
}

#nav ul li ul li {
  width: 100%;
  padding: 0;
  border-left: 0;
  border-right: 0
}

#nav ul li ul {
  display: none
}

#nav ul li:hover ul,#nav ul li.hover ul {
  display: block;
  z-index: 1000
}

#nav .vertical li ul li:first-child {
  border-top: none
}

body #nav ul li ul li ul {
  left: 100%;
  position: absolute;
  visibility: hidden;
  top: -1px
}

#nav ul li ul li:hover ul,#nav ul li ul li.hover ul {
  visibility: visible
}

#nav ul li ul li:hover ul li ul,#nav ul li ul li.hover ul li ul {
  visibility: hidden
}

#nav ul li ul li ul li:hover ul,#nav ul li ul li ul li.hover ul {
  visibility: visible
}

#nav.vertical {
  height: auto
}

#nav.vertical ul {
  border-left: 0px;
  margin-left: 0
}

.vertical ul {
  width: 100%
}

#nav.vertical li {
  border-right: 0;
  border-top: 1px solid #000;
  clear: left;
  position: relative;
  width: 100%
}

#nav.vertical ul ul {
  left: 100%;
  position: absolute;
  top: -1px;
  width: 10em
}

#nav .vertical li:hover ul,#nav .vertical li.hover ul {
  top: 0
}

#nav.vertical li li {
}

#nav.vertical ul ul ul {
  left: 100%
}

* html #nav {
  z-index: 1
}

* html #nav ul li ul {
  z-index: 400
}

* html #nav a {
}

* html #nav.vertical a {
  zoom:100%}

* html #nav ul ul a {
  zoom:100%}

#nav {
  background: red
}

#nav ul {
  font-size: 1.2em
}

#nav li {
  border-right: 1px solid #000
}

#nav li:hover,#nav li.hover {
}

#nav ul li.first {
  border-left: none
}

#nav ul li.last {
  border-right: none
}

#nav a {
  color: #000;
  text-decoration: none
}

#nav a:hover {
  background: #000;
  color: aqua
}

#nav a span {
  display: block;
  padding: 0 15px
}

#nav li ul a span {
  padding: .6em 15px
}

#nav li li {
  background: aqua;
  border-bottom: 1px solid #000
}

#nav ul li ul li ul {
  border-top: 1px solid #000
}

#nav li li li {
  background: #000
}

#nav li li li li {
  background: #000
}

#nav li ul {
  border-top: 1px solid #000
}

.home #nav #nav-home a,.services #nav #nav-services a,.testimonials #nav #nav-testimonials a,.reviews #nav #nav-reviews a,.request #nav #nav-request a,.contact #nav #nav-contact a {
  color: #fff
}

/*! jquery.lightbox.css */
#jquery-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  width: 100%;
  height: 500px
}

#jquery-lightbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  text-align: center;
  line-height: 0
}

#jquery-lightbox a img {
  border: none
}

#lightbox-container-image-box {
  position: relative;
  background-color: #fff;
  width: 250px;
  height: 250px;
  margin: 0 auto
}

#lightbox-container-image {
  padding: 10px
}

#lightbox-loading {
  position: absolute;
  top: 40%;
  left: 0%;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0
}

#lightbox-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10
}

#lightbox-container-image-box > #lightbox-nav {
  left: 0
}

#lightbox-nav a {
  outline: none
}

#lightbox-nav-btnPrev,#lightbox-nav-btnNext {
  width: 49%;
  height: 100%;
  zoom:1;display: block
}

#lightbox-nav-btnPrev {
  left: 0;
  float: left
}

#lightbox-nav-btnNext {
  right: 0;
  float: right
}

#lightbox-container-image-data-box {
  font: 10px Verdana,Helvetica,sans-serif;
  background-color: #fff;
  margin: 0 auto;
  line-height: 1.4em;
  overflow: auto;
  width: 100%;
  padding: 0 10px 0
}

#lightbox-container-image-data {
  padding: 0 10px;
  color: #666
}

#lightbox-container-image-data #lightbox-image-details {
  width: 70%;
  float: left;
  text-align: left
}

#lightbox-image-details-caption {
  font-weight: bold
}

#lightbox-image-details-currentNumber {
  display: block;
  clear: left;
  padding-bottom: 1.0em
}

#lightbox-secNav-btnClose {
  width: 66px;
  float: right;
  padding-bottom: 0.7em
}

/*! layout.css */
body {
  background: #ddd
}

h1,h2,h3,h4,h5,h6,h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {
  color: #f00
}

h1 {
  font-size:
}

a {
  color: lime
}

.breadcrumb {
  font-size: 85%;
  padding-bottom: 10px
}

.logos {
  text-align: center
}

.logos img {
  padding: 5px;
  vertical-align: middle
}

#container,.container {
  background: #fff;
  margin: 0 auto;
  padding: 0;
  position: relative;
  width: 100%
}

.container {
  width: 940px
}

#branding-wrapper {
  background: red;
  height: 260px
}

#branding {
  background: url(design/branding.jpg) no-repeat right top;
  position: relative
}

#logo,#contact-info,#service-area {
  margin: 0;
  position: absolute
}

#logo {
  height: 130px;
  left: 0px;
  top: 10px;
  width: 350px;
  z-index: 3
}

#logo a {
  display: block;
  height: 100%
}

#contact-info {
  font-size: 2em;
  right: 10px;
  text-align: right;
  top: 30px
}

#contact-info .phone {
}

#contact-info .email {
  font-size: .85em
}

#banner {
  display: block;
  margin-bottom: 0
}

#columns {
  background: url(design/side.png) no-repeat;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  position: relative;
  z-index: 1
}

#leftcol {
  float: left;
  position: relative;
  width: 210px;
  z-index: 1
}

#leftcol-inner {
  padding: 10px
}

#midcol {
  float: left;
  margin-left: 10px;
  overflow: hidden;
  width: 340px
}

#rightcol {
  float: right;
  position: relative;
  width: 370px;
  z-index: 2
}

#rightcol-inner {
  padding: 30px;
  padding-top: 0
}

.callouts ul {
  list-style-type: none;
  margin: 0 0 20px;
  padding: 0
}

.callouts li {
  background: lime;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%
}

.callouts li.last {
  margin: 0
}

.callouts .content {
  padding: 5px 12px
}

.callouts a.content {
  display: block;
  height: 50px;
  line-height: 50px;
  text-align: center
}

.callouts,.callouts a {
  color: #262626
}

.callouts a {
  text-decoration: none
}

.callouts li a:hover {
  text-decoration: underline
}

.callouts span {
  display: block;
  font-size: 1.5em;
  padding: 0 12px;
  margin: 0
}

#footer {
  background: #959595;
  font-size: 0.9em;
  line-height: 1.2em;
  margin: 0 auto;
  padding: 10px 0;
  text-align: center
}

#footer,#footer a {
  color: #fff
}

#footer p {
  margin: 0
}

/*! colors.css */
body {
  font-family: Georgia,"Times New Roman",Times,serif;
  font-family: Arial,Helvetica,sans-serif
}

#branding-wrapper {
  background-color: #cdab7d;
  background-image: ;
  background-repeat: repeat-x
}

a {
  color: #957451
}

body,#footer,#nav a:hover,.home #nav #nav-home a,.services #nav #nav-services a,.testimonials #nav #nav-testimonials a,.reviews #nav #nav-reviews a,.portfolio #nav #nav-portfolio a,.request #nav #nav-request a,.contact #nav #nav-contact a {
  background: #957451
}

.callouts li {
  background: #856e50 url(/design/nav-gradient.png) repeat-x
}

h1,h2,h3,h4,h5,h6,h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {
  color: #856e50
}

form div button {
  background: #856e50
}

#nav li {
  background: #9e2d1d url(/design/npattern-2.png) repeat-x
}

#footer {
  border-top: 5px solid #9e2d1d
}

#container,.container {
  background-color: #cdab7d
}

#contact-info,#contact-info a,#service-area,#nav a,#nav a:hover,.callouts a {
  color: #000
}
